{% extends "base.html" %}

{% block content %}
	<div class="container mt-6 ">
		<div class="columns is-multiline">
			{% for item in video %}
				<div class="column is-4">
					<div class="card p-3">
						<div class="card-header">
							<div class="card-header-title has-text-centered">
								<p class="title-has-text-black">{{ item.title }}</p>
							</div>
						</div>
						<div class="card-image">
							<figure class="image" style="">
								<img src="{{ item.image.url }}" alt="">
							</figure>
						</div>
						<div class="card-footer">
                            <div class="card-footer-item">
								<a href="{% url 'ivi:product_detail_url' item.pk %}" class="has-background-danger button has-text-black ">More -></a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}